@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<div class="text-center">
    <h1 class="display-4">Empresa Sports Tagline</h1>
    <p>Gerenciamento da empresa</p>
    <div class="Logo">
        <img src="~/img/Concessionária.png" />
    </div>
    <div class="cards">
        <a class="card red" href="https://localhost:7208/Categoria">
            <p class="tip">Categoria</p>
            <p class="second-text">Faça o cadastro de categoria</p>
        </a>
        <a class="card red" href="https://localhost:7208/Cliente">
            <p class="tip">Cliente</p>
            <p class="second-text">Faça o cadastro de Clientes</p>
        </a>
        <a class="card red" href="https://localhost:7208/Fornecedor">
            <p class="tip">Fornecedor</p>
            <p class="second-text">Faça o cadastro de fornecedor</p>
        </a>
        <a class="card red" href="https://localhost:7208/Pagamento">
            <p class="tip">Pagamento</p>
            <p class="second-text">Faça o cadastro de pagamento</p>
        </a>
        <a class="card red" href="https://localhost:7208/Produto">
            <p class="tip">Produto</p>
            <p class="second-text">Faça o cadastro de produto</p>
        </a>
        <a class="card red" href="https://localhost:7208/Venda">
            <p class="tip">Venda</p>
            <p class="second-text">Faça o cadastro de Venda</p>
        </a>
        <a class="card red" href="https://localhost:7208/VendaHasProduto">
            <p class="tip">VendaHasProduto</p>
            <p class="second-text">Faça o cadastro de VendaHasProduto</p>
        </a>
        <a class="card red" href="https://localhost:7208/Vendedor">
            <p class="tip">Vendedor</p>
            <p class="second-text">Faça o cadastro de Vendedor</p>
        </a>
    </div>
</div>

