@model Projeto_Final.Models.Produto

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Produto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProdutoId" />
            <div class="form-group">
                <label asp-for="MarcaCarro" class="control-label"></label>
                <input asp-for="MarcaCarro" class="form-control" />
                <span asp-validation-for="MarcaCarro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModeloCarro" class="control-label"></label>
                <input asp-for="ModeloCarro" class="form-control" />
                <span asp-validation-for="ModeloCarro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CorCarro" class="control-label"></label>
                <input asp-for="CorCarro" class="form-control" />
                <span asp-validation-for="CorCarro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecoProduto" class="control-label"></label>
                <input asp-for="PrecoProduto" class="form-control" />
                <span asp-validation-for="PrecoProduto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoriaId" class="control-label"></label>
                <select asp-for="CategoriaId" class="form-control" asp-items="ViewBag.CategoriaId"></select>
                <span asp-validation-for="CategoriaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FornecedorId" class="control-label"></label>
                <select asp-for="FornecedorId" class="form-control" asp-items="ViewBag.FornecedorId"></select>
                <span asp-validation-for="FornecedorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
